*{
  margin: 0;
  padding: 0;
}

body{
  overflow:hidden;
  background: #fdbf20;
}

.lamp-item{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.lamp-top{
  width: 10px;
  height: 100px;
  background: #2d2d2d;
  top: 0;
  pointer-events: none;
}

.lamp-middle{
  width: 50px;
  height: 30px;
  background: #2d2d2d;
  top: 99px;
  border-radius: 50px 50px 0 0;
  cursor: pointer;
}

.lamp-bottom{
  width: 150px;
  height: 80px;
  background: #2d2d2d;
  top: 120px;
  border-radius: 100px 100px 0 0;
  cursor: pointer;
}

.lamp-light.on{
  width: 700px;
  height: 500px;
  background: #fff8e5;
  clip-path: polygon(
      40% 0, 60% 0,80% 100%, 20% 100%
  );
  top: 200px;
  left: 0;
  pointer-events: none;
  animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.lamp-light.off{
  display: none;
}

.flower{
  width: 300px;
  height: 150px;
  top: 300px;
  left: 200px;
  position: absolute;
  animation: fadeIn2 5s ease-out;
}

@keyframes fadeIn2 {
  from{
    opacity: 0;
  }
  to{
    opacity: 0.5;
  }
}
